<section class="" style="margin-top: 20px;">
  <table class="table table-bordered table-hover text-center">
    <thead>
      <th class="text-center">°</th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Dirección</th>
      <th class="text-center">Estrato</th>
      <th class="text-center">Genero</th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox">
        </td>
        <td>sdasd</td>
        <td>asd</td>
        <td>dsd</td>
        <td>dsd</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-right">
          <button class="btn btn-warning btn-sm">Agregar cliente</button>
          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tfoot>
  </table>

</section>
<app-add></app-add>