<section class="" style="margin-bottom: 20px;">
  <form class="example-form" #addForm="ngForm">
    <div class="form-group">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Nombre" value="" [(ngModel)]="customer.name" name="name" #name="ngModel" required>
        <md-error *ngIf="!name.valid && !name.pristine">
          Por favor ingresa el nombre
        </md-error>
      </md-form-field>
    </div>
    <div class="form-group">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Dirección" value="" [(ngModel)]="customer.address" name="address" #address="ngModel" required>
        <md-error *ngIf="!address.valid && !address.pristine">
          Por favor ingresa la dirección
        </md-error>
      </md-form-field>
    </div>

    <div class="form-group">
      <md-select placeholder="Estrato" floatPlaceholder="Estrato" [(ngModel)]="customer.stratum" name="stratum" #stratum="ngModel"
        required>
        <md-option>Selecciona el estrato</md-option>
        <md-option *ngFor="let stratum of stratums" [value]="stratum.value">
          {{ stratum.viewValue }}
        </md-option>
      </md-select>
      <md-error *ngIf="!stratum.valid && !stratum.pristine">
        Por favor ingresa el estrato
      </md-error>
    </div>
    <div class="form-group">
      <md-radio-group [(ngModel)]="customer.gender" name="gender" #gender="ngModel" required>
        <md-radio-button value="0" selected>Masculinio</md-radio-button>
        <md-radio-button value="1">Femenino</md-radio-button>
      </md-radio-group>
      <md-error *ngIf="!gender.valid && !gender.pristine">
        Por favor ingresa el genero
      </md-error>
    </div>
    <button [disabled]="!addForm.valid" md-raised-button color="primary" (click)="onSaveClick()">Guardar</button>
    <button md-raised-button color="primary" (click)="onNewClick()">Nuevo</button>
  </form>
</section>